* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./img/IMG_1844.jpg);
  object-fit: cover;
}

main {
  /* border: 1px yellow solid; */
  display: flex;
  flex-flow: column wrap;
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  overflow: hidden;

  /* margin-top: 0.5em;
margin-bottom: 5em; */
}

h1 {
  display: flex;
  /*   border: 1px black solid; */
  margin: auto;
  color: whitesmoke;
  text-shadow: 1px 1px 1px black;
  font-size: 5em;
  margin-bottom: 0.5em;
  position: relative;
  margin-top: 0.3em;
}

p {
  display: flex;
  margin: auto;
  /* border: 1px solid green; */
  justify-content: space-evenly;
  gap: 1rem;
  position: relative;
  z-index: 1;
  flex-flow: row wrap;
  margin-bottom: 0.8em;
}

button {
  display: flex;
  margin: 0.3em 0.3em 0.3em 0.3em;
  padding: 1em 1em 1em 1em;
  /*   border: 1px solid red; */
  font-size: 1.5em;
  font-weight: bolder;
  position: relative;
  z-index: 1;
  flex-flow: row wrap;
}

.numbers {
  background-color: aqua;
}

.operators {
  background-color: orange;
}

.misc {
  background-color: yellow;
}

button:hover {
  background-color: whitesmoke;
}

.js-field {
  border: 3px solid black;
  width: 35%;
  padding: 1em 1em 1em 1em;
  color: white;
  font-size: 25px;
  font-weight: bolder;
}

@media all and (max-width: 649px) {
  button {
    font-size: 1em;
  }

  .js-field {
    width: 85%;
  }

  h1 {
    font-size: 3em;
    margin-top: 3em;
  }
}
@media all and (max-width: 350px) {
  button {
    font-size: 0.8em;
  }

  .js-field {
    width: 75%;
  }

  h1 {
    font-size: 2em;

    margin-top: 3em;
  }
}
